.topCateGories{
    width: 60% !important;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
}

.topRevenue{
    width: 35%;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
}

.title{
    font-weight: 700;
}

.totalProductCategories{
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
}

.revenue{
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
}

.filter{
    width: 30%;
    font-size: 1em;
    font-weight: 600;
}