.topCategory{
    margin-top: 2em;

    
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    

}

.left{
    display: flex;
    align-items: center;
    h2{
        font-size: 1.875em;
        font-weight: bold;

    }
    i{
        font-size: 1.25em;
        margin-right: 0.9375em;
        color: rgb(233 ,69 ,96);
    }
}

.right{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(125, 135, 156);
    transition: 0.2s;

    span{
        margin-right: 0.7em;
    }
}

.right:hover{
    color: rgb(233 ,69 ,96);
    transition: 0.3s;
}


.container{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
}