.sidebar{
    

    ul{
        margin: 0;
        padding: 0;
    }
    font-size: 0.95em;
    
}
.sidebarLogo{
    width: 100%;
    text-align: left;
    img{
        width: 8em;
    }

}
.sidebarUser{
    display: flex;
    align-items: center;
    padding: 0.8em 1em;
    border-radius: 9px;
    background-color: rgba(145, 158, 171, 0.12);
    img{
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
    margin-top: 1em;
    cursor: pointer;
}
.userName{  
    margin-left: 0.5em;
    font-weight: 600;
}
.sidebarMenu{
    margin-top: 1.5em;

    li{
        cursor: pointer;
        transition: 0.3s;
        font-weight: 600;
        padding: 0.8em 1em;
        border-radius: 9px;
        margin-top: 1em;
        
        display: flex;
        align-items: center;

        a{
            color: #5a5a5a;
        }
        
    }

    i{
      
        margin-right: 0.4em;
        font-size: 1.2em;
    }

    li:hover{
        background-color: #e94560;
        a{
            color: #ffffff !important;
        }
        transition: 0.3s;
    }


}

.menuActive{
    
    background-color: #e94560;
    a{
        color: #ffffff !important;
    }
}