.listCategories{
  padding:0 0.4em;
}
.item{
    align-items: center;
    display: flex;
    margin-top: 1.5em;
    font-weight: 600;
    img{
        width: 3em;
        border-radius: 50%;
    }
}

.title{
    span{
        font-weight: 700;
    }
}

.img{
    width: 20%;
}
.categoryName{
    width: 22%;
}
.categoriesChild{
    // text-align: center;
    width: 20%;
}
.quatityProducts{
    width: 20%;
    // text-align: center;
}
.action{
    width: 18%;
   
}

.btnAction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #06c180;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.3s;

    i{
        margin-right: 0.3em;
    }
    cursor: pointer;
}

.btnAction:hover{
    background-color: #ffec8d;
    color: #006292;
}