.btn{
    width: 100% !important;
    height: 100% !important;
    font-weight: 600 !important;
    border-radius: 5px;
    display: flex !important;
    align-items: center !important;
    border: none !important;
    justify-content: center;
    

    i{
        margin-right: 0.3em !important;
    }

}

.modal{
    font-size: 1em !important;
}

